name: Java CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11', '21' ]
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 11
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: maven
      - name: Install tiles
        run: cd support && mvn -f pom-tiles.xml install
      - name: Install support composites
        run: cd support && mvn install
      - name: All other things
        run: mvn install
